<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>OpenAPI</title>
</head>
<body>

    <%- include("./navbar.ejs") %>

    <div class="container">
        <div class="form form-container">
            <h1 class="text-center no-padding">OpenAPI</h1>
            <p class="text-center no-padding">ServerSMP's API but open and improved!</p>
        </div>
    </div>

</body>
</html>